@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  --primary: rgb(135, 206, 235);
  --secondary:#3D4852;
  --nav:transparent;
  --img:url('https://i.ytimg.com/vi/Ikd2cL7vF2Y/maxresdefault.jpg');
  --gradient:linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: .2s ease;
}

body.dark{
  --primary: #ccc;
  --img:url('https://www.wallpaperflare.com/static/482/8/981/simple-background-quote-minimalism-text-wallpaper.jpg');
  --secondary:#fff;
  --gradient: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  --nav:transparent !important;

  background-color: #000;
  color: #fff;
}

.text-gradient{
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer{
  background-color: var(--nav);
  color:var(--secondary);
}

nav{
  background-color: var(--nav);
  color: var(--secondary);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body.dark .card{
  margin:20px;
  border-radius: 5px;
  background-color: rgba(255,255,255,.1);
}

.card{
  margin:20px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0,0,0,.08);
}

.card img{
  object-fit: cover;
}

.active{
  position: relative;
}

.active::after{
  content: '';
  position: absolute;
  width: 40px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #36D1DC;  /* fallback for old browsers */
  background: var(--gradient);
  font-weight: bold;
  height: 2px;
}


.hero{
  width: 100%;
  height: 80vh;
  background:var(--img) no-repeat center center/cover;
  position: absolute;top:0;
  z-index:-1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {

  .card-grid a{
    grid-column: span 1 !important;
    row-column: span 1 !important;
  }

  .active::after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--gradient);
    font-weight: bold;
    height: 2px;
  }

  nav{
    width: 90%;
  }

  .hero{
    background-size: 150%;
  }

  .navicon {
    width: 1.125em;
    height: .125em;
  }

  .navicon::before,
  .navicon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
    content: '';
    background: var(--secondary);
  }

  .navicon::before {
    top: 5px;
  }

  .navicon::after {
    top: -5px;
  }

  .menu-btn:not(:checked) ~ .menu {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    display: block;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
    background: transparen;
  }

  .menu-btn:checked ~ .menu-icon .navicon::before {
    transform: rotate(-45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::after {
    transform: rotate(45deg);
  }

  .menu-btn:checked ~ .menu-icon .navicon::before,
  .menu-btn:checked ~ .menu-icon .navicon::after {
    top: 0;
  }
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: var(--gradient);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--gradient), 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: var(--primary);
  border-left-color: var(--primary);
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.input{
  position: relative;
  width: 100%;
}

.input input{
  padding: 10px 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  outline: none;
  transition: .2s ease;
  font-size: 18px;
  z-index: 10;
}

.input input::placeholder{
  color: rgba(255,255,255,.9);
}

input {
  border-image-source: var(--gradient);
  border-width: 4pt;
  border-image-slice: 1;
}

button.btn{
  padding: 16px;
  font-size: 18px;
  width: 100%;
  outline: none;
  margin-top: 20px;
  color: #fff;
  background-image: var(--gradient);
}

.tab{
  background:var(--gradient);
  font-size: 22px;
  transition: .2s ease;
  cursor: pointer;
  width: 100%;
}

.tab:hover{
  transform:scale( .9);
}

.splash{
  height: 100vh;
  width: 100%;
  background: var(--img);
  position: fixed;top: 0;
  z-index: 2123123;
  display: flex;
  transition: .2s ease;
  justify-content: center;align-items: center;
  animation: 2.2s linear hide;
}

@keyframes hide{
  0%{
    opacity: 1;
  }

  70%{
    opacity:.8;
  }

  100%{
    opacity: 0;
  }
}

.splash .splash-head{
  font-size: 70px;
  transition: .2s ease;
  position: absolute;
  background: url('https://img.freepik.com/premium-photo/red-calla-lily-flower-dark-green-leaves-botanicalfloral-blossom-exotic-tropical-jungle-rainforest_333216-748.jpg');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: scale 4s ease;
}

@keyframes scale {
  0%{

  }

  100%{
    font-size: 120px;
  }
}

.btm-nav{
  overflow: hidden;
  position: fixed;
}

.btm-nav a{
  padding:20px;
  width: 100%;
  backdrop-filter: blur(10%);
  display: flex;
  font-size: 20px;

  justify-content: center;
  align-items: center;
}

.btm-nav a.active{
  background-color: rgba(0,0,0,.2);
  color: var(--secondary) !important;
}